language: node_js
node_js:
  - "5"
before_install:
  - "sudo ./travis-setup.sh"
env:
  - CXX=g++-4.8
addons:
  apt:
    packages:
      - libftdi1
      - libftdi-dev
      - libconfuse0
      - libconfuse-dev
      - g++-4.8
compiler:
  - g++-4.8
notifications:
  email:
    - jon@spuun.se
