language: node_js
node_js:
  - "0.12"
  - "4"
  - "5"
  - "6"
  - "7"
before_install:
  - "sudo ./install-telldus.sh"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libftdi1
      - libftdi-dev
      - libconfuse0
      - libconfuse-dev
      - g++-4.8
compiler:
  - g++-4.8
notifications:
  email:
    - jon@spuun.se
