language: node_js
node_js:
  - 0.8
  - 0.10
  - 0.12  
  - 4
  - 5
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libftdi1 libftdi-dev libconfuse0 libconfuse-dev
  - wget http://download.telldus.se/TellStick/Software/telldus-core/telldus-core-2.1.2.tar.gz -O /tmp/telldus-core.tar.gz
  - tar -xvf /tmp/telldus-core.tar.gz
  - cd /tmp/telldus-core-2.1.2 && cmake . && make
  - sudo make install
notifications:
  email:
    - jon@spuun.se
